
<div class="row">

  <div class="col-md-4">
  </div>
  
  <div class="col-md-4">
	<div class="panel panel-default">
	
		  <div class="panel-heading">
		    <h3 class="panel-title">Enregistrement collaborator</h3>
		  </div>
		  
		  <div class="panel-body">
			  <form name="collaborateurForm" ng-submit="EC.verifierForm(collaborateurForm)" novalidate>
			
			   		    <!-- MATRICULE -->
			    <div class="form-group" ng-class="{ 'has-error' : collaborateurForm.personnalIdNumber.$invalid && collaborateurForm.personnalIdNumber.$dirty }">
			      <input type="text" name="personnalIdNumber" class="form-control" ng-model="EC.collaborator.personnalIdNumber" required ng-pattern="EC.regex.personnalIdNumber" ng-minlength="3" ng-maxlength="20"  placeholder="Matricule">
			      <p ng-show="collaborateurForm.personnalIdNumber.$invalid && collaborateurForm.personnalIdNumber.$dirty" class="help-block">Numéro de matricule invalide (Exemple valide : ABC1234)</p>
			    </div>
			
			    <!-- NOM -->
			    <div class="form-group" ng-class="{ 'has-error' : collaborateurForm.lastName.$invalid && collaborateurForm.lastName.$dirty }">
			      <input type="text" name="lastName" class="form-control" ng-model="EC.collaborator.lastName" required ng-pattern="EC.regex.lastName" ng-minlength="2" ng-maxlength="120" ng-trim="true"  placeholder="Nom">
			      <p ng-show="collaborateurForm.lastName.$invalid && collaborateurForm.lastName.$dirty" class="help-block">Veuillez entrer un nom valide</p>
			    </div>
			
			    <!-- PRENOM -->
			    <div class="form-group" ng-class="{ 'has-error' : collaborateurForm.firstName.$invalid && collaborateurForm.firstName.$dirty }">
			      <input type="text" name="firstName" class="form-control" ng-model="EC.collaborator.firstName" required ng-pattern="EC.regex.firstName" ng-minlength="2" ng-maxlength="120" ng-trim="true" placeholder="Prénom">
			      <p ng-show="collaborateurForm.firstName.$invalid && collaborateurForm.firstName.$dirty" class="help-block">Veuillez entrer un prénom valide</p>
			    </div>
			
			    <div class="alert alert-danger" role="alert" ng-show="EC.isFalseForm">
			      Veuillez remplir tous les champs
			    </div>

			    <div class="alert alert-danger" role="alert" ng-show="!EC.isNewPersonalIdNumber">
			      Ce matricule a déjà été enregistré
			    </div> 
			    
			    <button type="submit" class="btn btn-primary" >Enregistrer</button>			
			  </form>
		  </div>
		  
		 <div class="col-md-4">
		 </div>	 
	</div>
  </div>
</div>
